In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("selected_data.csv",sep = ",", index_col = 0)
df.head()

,CASE_STATUS,AGENT_REPRESENTING_EMPLOYER,SOC_CODE,NAICS_CODE,FULL_TIME_POSITION,TOTAL_WORKER_POSITIONS,H-1B_DEPENDENT,WILLFUL_VIOLATOR,SECONDARY_ENTITY_1,PREVAILING_WAGE_1,PW_UNIT_OF_PAY_1,PW_WAGE_LEVEL_1,WAGE_RATE_OF_PAY_FROM_1,WAGE_RATE_OF_PAY_TO_1,WAGE_UNIT_OF_PAY_1
0,CERTIFIED,Y,11-2011,511210.0,N,1.0,N,N,NaN,NaN,NaN,NaN,33.0,NaN,Hour
1,CERTIFIED,Y,11-2011,56142.0,Y,1.0,N,N,NaN,NaN,NaN,NaN,99000.0,NaN,Year
2,CERTIFIED,N,11-2011,611310.0,Y,1.0,N,N,NaN,55370.0,Year,Level I,67500.0,NaN,Year
3,CERTIFIED,Y,11-2011,541830.0,Y,1.0,N,N,NaN,94806.0,Year,Level I,102000.0,NaN,Year
4,CERTIFIED,Y,11-2011,334111.0,Y,50.0,N,N,NaN,97781.0,Year,Level II,97781.0,NaN,Year

In [2]:
df.shape

(583806, 15)

### CASE_STATUS variable: Highly Imbalanced Dataset

In [3]:
df.CASE_STATUS.value_counts()

CERTIFIED    578640
DENIED         5166
Name: CASE_STATUS, dtype: int64

In [4]:
# u = df.groupby(['EMPLOYER_STATE','CASE_STATUS'])
# u.count()

In [5]:
df.dtypes

CASE_STATUS                     object
AGENT_REPRESENTING_EMPLOYER     object
SOC_CODE                        object
NAICS_CODE                     float64
FULL_TIME_POSITION              object
TOTAL_WORKER_POSITIONS         float64
H-1B_DEPENDENT                  object
WILLFUL_VIOLATOR                object
SECONDARY_ENTITY_1              object
PREVAILING_WAGE_1              float64
PW_UNIT_OF_PAY_1                object
PW_WAGE_LEVEL_1                 object
WAGE_RATE_OF_PAY_FROM_1        float64
WAGE_RATE_OF_PAY_TO_1          float64
WAGE_UNIT_OF_PAY_1              object
dtype: object

In [6]:
df_1 = df.copy()

In [7]:
df_1 = df_1[~df_1['WAGE_RATE_OF_PAY_FROM_1'].isna()]
len(df_1['WAGE_RATE_OF_PAY_FROM_1'])

df_1['WAGE_RATE_OF_PAY_TO_1'] = df_1['WAGE_RATE_OF_PAY_TO_1'].fillna(df_1['WAGE_RATE_OF_PAY_FROM_1'])
df_1

,CASE_STATUS,AGENT_REPRESENTING_EMPLOYER,SOC_CODE,NAICS_CODE,FULL_TIME_POSITION,TOTAL_WORKER_POSITIONS,H-1B_DEPENDENT,WILLFUL_VIOLATOR,SECONDARY_ENTITY_1,PREVAILING_WAGE_1,PW_UNIT_OF_PAY_1,PW_WAGE_LEVEL_1,WAGE_RATE_OF_PAY_FROM_1,WAGE_RATE_OF_PAY_TO_1,WAGE_UNIT_OF_PAY_1
0,CERTIFIED,Y,11-2011,511210.0,N,1.0,N,N,NaN,NaN,NaN,NaN,33.0,33.0,Hour
1,CERTIFIED,Y,11-2011,56142.0,Y,1.0,N,N,NaN,NaN,NaN,NaN,99000.0,99000.0,Year
2,CERTIFIED,N,11-2011,611310.0,Y,1.0,N,N,NaN,55370.0,Year,Level I,67500.0,67500.0,Year
3,CERTIFIED,Y,11-2011,541830.0,Y,1.0,N,N,NaN,94806.0,Year,Level I,102000.0,102000.0,Year
4,CERTIFIED,Y,11-2011,334111.0,Y,50.0,N,N,NaN,97781.0,Year,Level II,97781.0,97781.0,Year
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
583801,CERTIFIED,Y,OPERATIONS RESEARCH ANALYSTS,524113.0,Y,1.0,N,N,NaN,75733.0,Year,Level III,85500.0,85500.0,Year
583802,DENIED,N,NaN,5416.0,Y,1.0,Y,N,Y,80704.0,Year,Level II,80800.0,80800.0,Year
583803,DENIED,N,NaN,5416.0,Y,1.0,Y,N,Y,74443.0,Year,Level II,74500.0,74500.0,Year
583804,DENIED,N,NaN,5416.0,Y,1.0,Y,N,Y,75858.0,Year,Level III,75900.0,75900.0,Year
583805,DENIED,NaN,NaN,5416.0,Y,1.0,Y,N,Y,66643.0,Year,Level II,66700.0,66700.0,Year

Next, we find the average of the wage range by calculating the mean between WAGE_RATE_OF_PAY_FROM_1 and WAGE_RATE_OF_PAY_TO_1

In [8]:
col_mean = df_1.loc[:,'WAGE_RATE_OF_PAY_FROM_1':'WAGE_RATE_OF_PAY_TO_1']
df_1['MEAN_WAGE_RATE'] = col_mean.mean(axis = 1)
df_1.head()

,CASE_STATUS,AGENT_REPRESENTING_EMPLOYER,SOC_CODE,NAICS_CODE,FULL_TIME_POSITION,TOTAL_WORKER_POSITIONS,H-1B_DEPENDENT,WILLFUL_VIOLATOR,SECONDARY_ENTITY_1,PREVAILING_WAGE_1,PW_UNIT_OF_PAY_1,PW_WAGE_LEVEL_1,WAGE_RATE_OF_PAY_FROM_1,WAGE_RATE_OF_PAY_TO_1,WAGE_UNIT_OF_PAY_1,MEAN_WAGE_RATE
0,CERTIFIED,Y,11-2011,511210.0,N,1.0,N,N,NaN,NaN,NaN,NaN,33.0,33.0,Hour,33.0
1,CERTIFIED,Y,11-2011,56142.0,Y,1.0,N,N,NaN,NaN,NaN,NaN,99000.0,99000.0,Year,99000.0
2,CERTIFIED,N,11-2011,611310.0,Y,1.0,N,N,NaN,55370.0,Year,Level I,67500.0,67500.0,Year,67500.0
3,CERTIFIED,Y,11-2011,541830.0,Y,1.0,N,N,NaN,94806.0,Year,Level I,102000.0,102000.0,Year,102000.0
4,CERTIFIED,Y,11-2011,334111.0,Y,50.0,N,N,NaN,97781.0,Year,Level II,97781.0,97781.0,Year,97781.0

Our next task is to level all the entries in PREVAILING_WAGE_1 and MEAN_WAGE_RATE so that PW_UNIT_OF_PAY_1 = Year

In [9]:
df_2 = df_1.copy()

In [10]:
df_2['PW_UNIT_OF_PAY_1'].value_counts()

Year         540074
Hour          38721
Month           182
Bi-Weekly        76
Week             72
Name: PW_UNIT_OF_PAY_1, dtype: int64

In [11]:
df_2.loc[df_2['PW_UNIT_OF_PAY_1'] == "Hour", 'PREVAILING_WAGE_YEARLY'] = df_2['PREVAILING_WAGE_1']*40*52
df_2.loc[df_2['PW_UNIT_OF_PAY_1'] == "Week", 'PREVAILING_WAGE_YEARLY'] = df_2['PREVAILING_WAGE_1']*52
df_2.loc[df_2['PW_UNIT_OF_PAY_1'] == "Bi-Weekly", 'PREVAILING_WAGE_YEARLY'] = df_2['PREVAILING_WAGE_1']*26
df_2.loc[df_2['PW_UNIT_OF_PAY_1'] == "Month", 'PREVAILING_WAGE_YEARLY'] = df_2['PREVAILING_WAGE_1']*12
df_2.loc[df_2['PW_UNIT_OF_PAY_1'] == "Year", 'PREVAILING_WAGE_YEARLY'] = df_2['PREVAILING_WAGE_1']

print(df_2.head())

  CASE_STATUS AGENT_REPRESENTING_EMPLOYER SOC_CODE  NAICS_CODE  \
0   CERTIFIED                           Y  11-2011    511210.0
1   CERTIFIED                           Y  11-2011     56142.0
2   CERTIFIED                           N  11-2011    611310.0
3   CERTIFIED                           Y  11-2011    541830.0
4   CERTIFIED                           Y  11-2011    334111.0

  FULL_TIME_POSITION  TOTAL_WORKER_POSITIONS H-1B_DEPENDENT WILLFUL_VIOLATOR  \
0                  N                     1.0              N                N
1                  Y                     1.0              N                N
2                  Y                     1.0              N                N
3                  Y                     1.0              N                N
4                  Y                    50.0              N                N

  SECONDARY_ENTITY_1  PREVAILING_WAGE_1 PW_UNIT_OF_PAY_1 PW_WAGE_LEVEL_1  \
0                NaN                NaN              NaN             NaN
1                NaN                NaN              NaN             NaN
2                NaN            55370.0             Year         Level I
3                NaN            94806.0             Year         Level I
4                NaN            97781.0             Year        Level II

   WAGE_RATE_OF_PAY_FROM_1  WAGE_RATE_OF_PAY_TO_1 WAGE_UNIT_OF_PAY_1  \
0                     33.0                   33.0               Hour
1                  99000.0                99000.0               Year
2                  67500.0                67500.0               Year
3                 102000.0               102000.0               Year
4                  97781.0                97781.0               Year

   MEAN_WAGE_RATE  PREVAILING_WAGE_YEARLY
0            33.0                     NaN
1         99000.0                     NaN
2         67500.0                 55370.0
3        102000.0                 94806.0
4         97781.0                 97781.0

In [12]:
df_2['WAGE_UNIT_OF_PAY_1'].value_counts()

Year         544164
Hour          39146
Month           324
Bi-Weekly        95
Week             73
Name: WAGE_UNIT_OF_PAY_1, dtype: int64

In [13]:
df_2.loc[df_2['WAGE_UNIT_OF_PAY_1'] == "Hour", 'MEAN_WAGE_RATE_YEARLY'] = df_2['MEAN_WAGE_RATE']*40*52 
#assuming there are 40 hours of work per week
df_2.loc[df_2['WAGE_UNIT_OF_PAY_1'] == "Week", 'MEAN_WAGE_RATE_YEARLY'] = df_2['MEAN_WAGE_RATE']*52
df_2.loc[df_2['WAGE_UNIT_OF_PAY_1'] == "Bi-Weekly", 'MEAN_WAGE_RATE_YEARLY'] = df_2['MEAN_WAGE_RATE']*26
df_2.loc[df_2['WAGE_UNIT_OF_PAY_1'] == "Month", 'MEAN_WAGE_RATE_YEARLY'] = df_2['MEAN_WAGE_RATE']*12
df_2.loc[df_2['WAGE_UNIT_OF_PAY_1'] == "Year", 'MEAN_WAGE_RATE_YEARLY'] = df_2['MEAN_WAGE_RATE']

print(df_2.head())

  CASE_STATUS AGENT_REPRESENTING_EMPLOYER SOC_CODE  NAICS_CODE  \
0   CERTIFIED                           Y  11-2011    511210.0
1   CERTIFIED                           Y  11-2011     56142.0
2   CERTIFIED                           N  11-2011    611310.0
3   CERTIFIED                           Y  11-2011    541830.0
4   CERTIFIED                           Y  11-2011    334111.0

  FULL_TIME_POSITION  TOTAL_WORKER_POSITIONS H-1B_DEPENDENT WILLFUL_VIOLATOR  \
0                  N                     1.0              N                N
1                  Y                     1.0              N                N
2                  Y                     1.0              N                N
3                  Y                     1.0              N                N
4                  Y                    50.0              N                N

  SECONDARY_ENTITY_1  PREVAILING_WAGE_1 PW_UNIT_OF_PAY_1 PW_WAGE_LEVEL_1  \
0                NaN                NaN              NaN             NaN
1                NaN                NaN              NaN             NaN
2                NaN            55370.0             Year         Level I
3                NaN            94806.0             Year         Level I
4                NaN            97781.0             Year        Level II

   WAGE_RATE_OF_PAY_FROM_1  WAGE_RATE_OF_PAY_TO_1 WAGE_UNIT_OF_PAY_1  \
0                     33.0                   33.0               Hour
1                  99000.0                99000.0               Year
2                  67500.0                67500.0               Year
3                 102000.0               102000.0               Year
4                  97781.0                97781.0               Year

   MEAN_WAGE_RATE  PREVAILING_WAGE_YEARLY  MEAN_WAGE_RATE_YEARLY
0            33.0                     NaN                68640.0
1         99000.0                     NaN                99000.0
2         67500.0                 55370.0                67500.0
3        102000.0                 94806.0               102000.0
4         97781.0                 97781.0                97781.0

Before moving forward, I am going to drop all the NA values as we have tackled all the NA values in the WAGE_RATE_OF_PAY_TO_1 column.

In [14]:
df_3 = df_2.dropna()
df_3.shape

(508332, 18)

### SOC_CODE: remove all regular expressions

In [15]:
df_4 = df_3.copy()
df_4['SOC_CODE'] = df_4['SOC_CODE'].str.replace("'","")

### SOC_CODE into SOC_CODE_MAIN_CATEGORY: Alternative 1

For 'SOC_CODE', we only require the first two digits(before -) which is the main category of the occupation for analysis.

The Standard Occupational Classification (SOC) system is used by U.S. government agencies to classify workers into occupational categories for the purposes of collecting, calculating or disseminating data. 
Users of occupational data include government program managers, industrial and labor relations practitioners, students considering career training, job seekers, vocational training schools, and employers wishing to set salary scales or locate a new plant. The SOC codes have a hierarchical format, so for example the code "15-0000" refers to occupations in the "Computer and Mathematical Occupations" category, and "15-1130" is a subset for "Software Developers and Programmers". Please note that this code describes occupations held by individuals and does not describe the industries in which people work. The SOC does not categorize industries or employers. There are parallel category systems for industries used with SOC data, most commonly NAICS

In [16]:
df_4['SOC_CODE_MAIN_CATEGORY'] = df_4['SOC_CODE'].str.split("-").str[0]
df_4['SOC_CODE_MAIN_CATEGORY'].head()

8     11
9     11
10    11
11    11
12    11
Name: SOC_CODE_MAIN_CATEGORY, dtype: object

In [17]:
df_4['SOC_CODE_MAIN_CATEGORY'].value_counts()

15    365170
17     39694
13     38950
19     16338
11     16081
29     10344
25      9806
27      5979
41      2539
23      1960
21       968
43       265
39        50
35        48
53        36
51        29
49        22
47        22
31        14
33         9
45         5
37         3
Name: SOC_CODE_MAIN_CATEGORY, dtype: int64

### SOC_CODE into STEM: Alternative 2
The SOC_CODE can be converted to less categories by dividing the Jobs into STEM jobs or not. STEM stands for Science, Technology, Engineering and Mathematics.

For identifying which SOC categories fall into STEM jobs, I have refered to https://www.bls.gov/soc/2018/home.htm. Under the 2018 SOC Crosswalks tab, you can find a PDF (https://www.bls.gov/soc/Attachment_B_STEM_2018.pdf) or even download an Excel file. I downloaded an excel file and found the STEM categories under gray and Blue cell color. I did not take 'related' jobs into consideration.

In [18]:
df_soc_stem = pd.read_csv('soc_to_stem.csv',sep = ',', header = None, names = ['CODE'])
df_soc_stem['CODE'].value_counts()

17-3026    1
11-9121    1
17-3023    1
19-4021    1
19-3041    1
          ..
19-1032    1
17-2061    1
25-1062    1
19-3094    1
15-2011    1
Name: CODE, Length: 117, dtype: int64

In [19]:
list_soc_stem = df_soc_stem['CODE'].str.strip()
list_soc_stem.head()

0    11-3021
1    11-9121
2    15-1211
3    15-1212
4    15-1221
Name: CODE, dtype: object

In [20]:
list_soc_code = df_4['SOC_CODE']
stem_category = []

for i in list_soc_code:
    if(i in list_soc_stem):
        stem_category.append('Y')
    else:
        stem_category.append('N')
    
len(stem_category) #508332
# stem_category[0:5]

508332

In [21]:
df_4['STEM_CATEGORY'] = stem_category
df_4['STEM_CATEGORY'].value_counts()

N    508332
Name: STEM_CATEGORY, dtype: int64

### NAICS_CODE

The NAICS_CODE for H1B Visa is the North American Industry Classification System Code which has code that represent industry classification within the North American Industry Classification System.The first two digits represent the main category of the industry. 
https://www.census.gov/eos/www/naics/2017NAICS/2017_NAICS_Manual.pdf

In [22]:
df_5 = df_4.copy()
df_5['NAICS_CODE'].value_counts()

541511.0    171361
541512.0     53428
5416.0       16871
611310.0     14948
54151.0      12785
             ...
327999.0         1
5152.0           1
331318.0         1
331420.0         1
524290.0         1
Name: NAICS_CODE, Length: 1912, dtype: int64

Our NAICS_CODE is a float64 datatype. We convert it into string first and then choose the first two digits.

In [23]:
df_5['NAICS_CODE'].dtype

dtype('float64')

In [24]:
df_5['NAICS_CODE_MAIN_CATEGORY'] = df_5['NAICS_CODE'].astype(str).str[0:2]
df_5['NAICS_CODE_MAIN_CATEGORY'].head()

8     33
9     51
10    54
11    51
12    31
Name: NAICS_CODE_MAIN_CATEGORY, dtype: object

In [25]:
df_5['NAICS_CODE_MAIN_CATEGORY'].value_counts().count()

29

In [26]:
df_5['NAICS_CODE_MAIN_CATEGORY'].unique()

array(['33', '51', '54', '31', '72', '44', '56', '71', '52', '61', '62',
       '45', '49', '81', '53', '42', '48', '32', '22', '23', '55', '21',
       '92', '11', '10', '35', '50', '26', '12'], dtype=object)

In [27]:
df_5.head()

,CASE_STATUS,AGENT_REPRESENTING_EMPLOYER,SOC_CODE,NAICS_CODE,FULL_TIME_POSITION,TOTAL_WORKER_POSITIONS,H-1B_DEPENDENT,WILLFUL_VIOLATOR,SECONDARY_ENTITY_1,PREVAILING_WAGE_1,...,PW_WAGE_LEVEL_1,WAGE_RATE_OF_PAY_FROM_1,WAGE_RATE_OF_PAY_TO_1,WAGE_UNIT_OF_PAY_1,MEAN_WAGE_RATE,PREVAILING_WAGE_YEARLY,MEAN_WAGE_RATE_YEARLY,SOC_CODE_MAIN_CATEGORY,STEM_CATEGORY,NAICS_CODE_MAIN_CATEGORY
8,CERTIFIED,Y,11-2011,334111.0,Y,1.0,N,N,N,154232.00,...,Level IV,154232.00,225400.00,Year,189816.00,154232.0,189816.0,11,N,33
9,CERTIFIED,Y,11-2011,516110.0,N,1.0,N,N,N,47.01,...,Level II,47.01,47.01,Hour,47.01,97780.8,97780.8,11,N,51
10,CERTIFIED,Y,11-2011,541512.0,Y,1.0,N,N,N,47549.00,...,Level I,47549.00,47549.00,Year,47549.00,47549.0,47549.0,11,N,54
11,CERTIFIED,Y,11-2011,518112.0,Y,1.0,Y,N,N,156146.00,...,Level IV,214230.00,214230.00,Year,214230.00,156146.0,214230.0,11,N,51
12,CERTIFIED,Y,11-2011,31222.0,Y,1.0,N,N,N,75026.00,...,Level II,90000.00,110000.00,Year,100000.00,75026.0,100000.0,11,N,31

In order to reduce the categories in 'EMPLOYER_STATE', I will put all the categories with less than 1000 applications under 'Other'. There are 47 categories in total and I reduce it to 14.

In [28]:
# df_6['EMPLOYER_STATE'].value_counts().count()

In [29]:
# employee_state_count = df_5['EMPLOYER_STATE'].value_counts()
# employee_state_count

In [30]:
# len(employee_state_count[employee_state_count <= 1000])

There are 34 states with applicants less than 1000. Let's put these states into 'Other' using lambda function.

In [31]:
# emp_state_list_less_than_1000 = employee_state_count[employee_state_count <= 1000]

In [32]:
# df_6['EMPLOYER_STATE_1'] = df_6['EMPLOYER_STATE'].apply(lambda x:'Other' if x in emp_state_list_less_than_1000 else x)

# df_6['EMPLOYER_STATE_1'].value_counts().count()

In order to reduce the categories in 'EMPLOYER_NAME', I will put all the categories with less than 10 applications under 'Other'. There are total of 3503 values of the company which will be reduced to 376.

In [33]:
# df_7 = df_6.copy()

In [34]:
# df_7['EMPLOYER_NAME'].value_counts().count()

In [35]:
# employer_name = df_7['EMPLOYER_NAME'].value_counts()
# len(employer_name[employer_name <= 50])

In [36]:
# emp_name_list_less_than_1000 = employer_name[employer_name <= 50]

There are 2103 employers with applicants less than 10 applicants. Let's put these entries into 'Other' using lambda function.

In [37]:
# df_7['EMPLOYER_NAME_1'] = df_7['EMPLOYER_NAME'].apply(lambda x: 'Other' if x in emp_name_list_less_than_1000 else x)
# df_7['EMPLOYER_NAME_1'].value_counts().count()

### TOTAL_WORKER_POSITIONS

In [38]:
df_6 = df_5.copy()
df_6['TOTAL_WORKER_POSITIONS'].value_counts()

1.0      480477
2.0        4664
15.0       4659
3.0        4508
5.0        3218
10.0       3128
6.0        1660
25.0       1284
20.0       1249
50.0       1026
4.0         997
30.0        533
24.0        164
8.0         155
7.0         132
12.0        132
40.0         57
100.0        55
9.0          40
75.0         27
11.0         23
16.0         21
13.0         19
35.0         16
14.0         13
18.0         11
19.0          8
17.0          7
175.0         6
45.0          4
23.0          4
60.0          4
32.0          3
80.0          3
150.0         3
70.0          2
22.0          2
300.0         2
90.0          2
500.0         2
28.0          1
78.0          1
54.0          1
43.0          1
37.0          1
110.0         1
47.0          1
21.0          1
26.0          1
76.0          1
65.0          1
31.0          1
Name: TOTAL_WORKER_POSITIONS, dtype: int64

Now, we will drop the original columns that are no longer required and convert it into a csv file for further analysis.

In [39]:
df_7 = df_6.drop(columns=[
    'SOC_CODE', # we calculated 'SOC_CODE_MAIN_CATEGORY'
    'NAICS_CODE', #we calculated 'NAICS_CODE_MAIN_CATEGORY'
    'WAGE_UNIT_OF_PAY_1', # we converted the pay to 'Yearly' unit
    'WAGE_RATE_OF_PAY_FROM_1',
    'WAGE_RATE_OF_PAY_TO_1', # we computed the 'MEAN_WAGE_RATE_YEARLY'
    'PW_UNIT_OF_PAY_1',
    'PREVAILING_WAGE_1', # we computed the 'PREVAILING_WAGE_YEARLY'
    'MEAN_WAGE_RATE',
    'PW_WAGE_LEVEL_1',
    'STEM_CATEGORY'
])
df_7 = df_7.reset_index(drop = True)
df_7.head()

,CASE_STATUS,AGENT_REPRESENTING_EMPLOYER,FULL_TIME_POSITION,TOTAL_WORKER_POSITIONS,H-1B_DEPENDENT,WILLFUL_VIOLATOR,SECONDARY_ENTITY_1,PREVAILING_WAGE_YEARLY,MEAN_WAGE_RATE_YEARLY,SOC_CODE_MAIN_CATEGORY,NAICS_CODE_MAIN_CATEGORY
0,CERTIFIED,Y,Y,1.0,N,N,N,154232.0,189816.0,11,33
1,CERTIFIED,Y,N,1.0,N,N,N,97780.8,97780.8,11,51
2,CERTIFIED,Y,Y,1.0,N,N,N,47549.0,47549.0,11,54
3,CERTIFIED,Y,Y,1.0,Y,N,N,156146.0,214230.0,11,51
4,CERTIFIED,Y,Y,1.0,N,N,N,75026.0,100000.0,11,31

In [40]:
df_7.dtypes

CASE_STATUS                     object
AGENT_REPRESENTING_EMPLOYER     object
FULL_TIME_POSITION              object
TOTAL_WORKER_POSITIONS         float64
H-1B_DEPENDENT                  object
WILLFUL_VIOLATOR                object
SECONDARY_ENTITY_1              object
PREVAILING_WAGE_YEARLY         float64
MEAN_WAGE_RATE_YEARLY          float64
SOC_CODE_MAIN_CATEGORY          object
NAICS_CODE_MAIN_CATEGORY        object
dtype: object

In [41]:
df_7 = df_7.rename(columns = {'SECONDARY_ENTITY_1':'SECONDARY_ENTITY'})
df_7.head()

,CASE_STATUS,AGENT_REPRESENTING_EMPLOYER,FULL_TIME_POSITION,TOTAL_WORKER_POSITIONS,H-1B_DEPENDENT,WILLFUL_VIOLATOR,SECONDARY_ENTITY,PREVAILING_WAGE_YEARLY,MEAN_WAGE_RATE_YEARLY,SOC_CODE_MAIN_CATEGORY,NAICS_CODE_MAIN_CATEGORY
0,CERTIFIED,Y,Y,1.0,N,N,N,154232.0,189816.0,11,33
1,CERTIFIED,Y,N,1.0,N,N,N,97780.8,97780.8,11,51
2,CERTIFIED,Y,Y,1.0,N,N,N,47549.0,47549.0,11,54
3,CERTIFIED,Y,Y,1.0,Y,N,N,156146.0,214230.0,11,51
4,CERTIFIED,Y,Y,1.0,N,N,N,75026.0,100000.0,11,31

In [42]:
import os
import sys

try:
    os.remove("for_analysis.csv")
except:
    print(sys.exc_info()[0], "occured while deleting file ")

df_7.to_csv("for_analysis.csv")
print("File created successfully!")

File created successfully!